# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
public_html/dist
public_html/src/app
/tmp
/out-tsc

# dependencies
/node_modules
public_html/node_modules
public_html/maps
public_html/src/assets/maps
public_html/src/index.html
/src/assets/css/style.css

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.sublime-project

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
