.admin
	
	header.container-fluid
		div.row
			max-width 80rem
			text-align center
			
		.btn
			margin 3rem 0.5rem
		

	.btn
		border 1px solid $azul
		color $azul
		cursor pointer
		display inline-block
		margin 1rem auto
		padding 1rem 2rem
		transitionBase()
		vertical-align top
		
		&:hover
			background-color $azul
			color white
			text-decoration none
		
		&-blue
			display block
			margin 1rem auto
			max-width 20rem
			text-align center
			
		&-submit
			background-color $azul
			color #fff
			display block
			margin 1rem auto
			
			&:hover
				background-color #fff
				color $azul

	.container-dashboard
		.row
			margin 1rem auto
			max-width 60rem
			text-align center
			
	.container-login
		.row
			margin 1rem auto
			max-width 42rem
			

	.container-toast
		background-color darken($azul, 40%)
		bottom 1rem
		box-shadow 0px 0px 5px rgba(0,0,0,0.5)
		color white
		left 50%
		padding 1rem 2rem
		position fixed
		text-align center
		transform translateX(-50%)
			

	.form-group
		margin 2rem auto
		
		input
			&[type="file"]
				padding-left 14rem
			

			