.container-text
	p
		margin 1rem auto

.img
	&-article
		box-shadow 0px 0px 20px 0px rgba(0, 0, 0, 0.15)
		display block
		height 16rem
		max-width 100%
		object-fit(cover)
		position relative
		width 100%
		z-index 3
	
	&-bio
		height auto
		margin 0 auto
		max-width 50rem
		

@media (min-width:$screen-sm)
	.img
		&-bio
			max-width 40rem
			

@media (min-width:820px)
	.img
		&-article
			height auto