.box
	background-color $gris
	margin 1rem auto
	position relative
	
	&-1
		display none
	&-content
		padding 3rem 2rem 1rem
		

	&-header
		position relative
		
		.btn
			bottom -1.3rem
			left 50%
			position absolute
			transform translateX(-@left)
			z-index 5

	&-title
		color white
		font-size 1.8rem
		left 50%
		margin 0
		padding 0
		position absolute
		text-align center
		text-shadow 0px 0px 5px rgba(0, 0, 0, 0.5)
		text-transform uppercase
		top 50%
		transform translate3d(-50%,-50%,0)
		z-index 9


	img
		img-responsive(block)
		width 100%
		

// @stylint off

@media (min-width:$screen-sm)
	.box
		p:not(.fecha)
			box-orient vertical
			-moz-box-orient vertical
			-ms-box-orient vertical
			-o-box-orient vertical
			-webkit-box-orient vertical
			display block
			display -webkit-box
			display -moz-box
			display -ms-box
			display -o-box
			height 10rem
			line-clamp 5
			-moz-line-clamp 5
			-ms-line-clamp 5
			-o-line-clamp 5
			-webkit-line-clamp 5
			overlow hidden
			text-overflow ellipsis
			white-space normal
			
@media (min-width:1000px)
	.box
		p:not(.fecha)
			height 8rem
			line-clamp 4
			-moz-line-clamp 4
			-ms-line-clamp 4
			-o-line-clamp 4
			-webkit-line-clamp 4

@media (min-width:1100px)
	.box				
		p:not(.fecha)
			height 6.2rem

// @stylint on
