.btn
	transitionBase()
	
	&:hover
		text-decoration none
	
	&-back
		color black
		display block
		margin 2rem auto
		
		i
			font-size 2rem
			padding-right 1.1rem
			vertical-align middle

	&-menu
		background-color white
		border none
		cuadrado(6rem)
		cursor pointer
		display inline-block
		margin 2.5rem 0 1rem
		outline 0 !important
		outline none !important
		padding 0
		position relative

		.m-line
			background-color black
			border-radius 1rem
			display block
			height 0.5rem
			left 15%
			margin 0
			padding 0
			position absolute
			transitionBase()
			width 70%
			

			&:nth-of-type(1)
				top 1.5rem
			
			&:nth-of-type(2)
				top 50%
				transform translateY(-@top)
			
			&:nth-of-type(3)
				bottom 1.5rem
				

		&.active
			outline none !important
			outline 0 !important
			z-index 15 
			
			.m-line
				&:nth-of-type(1)
					left 50%
					top 50%
					transform translate3d(-50%,-50%,0) rotate(-45deg)
					
				&:nth-of-type(2)
					opacity 0

				&:nth-of-type(3)
					bottom unset
					left 50%
					top 50%
					transform translate3d(-50%,-50%,0) rotate(45deg)


	&-programa
		background-color $rojo
		border 1px solid $rojo
		bottom 0
		box-shadow 0px -2px 5px 0px rgba(0, 0, 0, 0.25)
		color white
		cursor pointer
		display block
		font-weight $bold
		max-width 100%
		padding 0.5rem 4.1rem
		position fixed
		text-align center
		width 100%
		z-index 9
		
		&:active,
		&:focus,
		&:hover
			background-color white
			color $rojo
			text-decoration none

	&-read
		background-color $rojo
		box-shadow 0px 5px 5px 0px rgba(0, 0, 0, 0.25)
		color white
		cursor pointer
		display block
		max-width 14rem
		padding 0.5rem 1rem
		text-align center
		width 100%
		
		&:hover
			background-color white
			color black
		
		
	&-red
		background-color transparent
		border 2px solid $rojo
		color $rojo
		cursor pointer
		display block
		font-weight $bold
		margin 1rem auto
		max-width 22rem
		padding 0.5rem 1rem
		text-align center
		
		&:hover
			background-color $rojo
			color white
			

	&-submit
		background-color $rojo
		border none
		box-shadow 0px 5px 5px 0px rgba(0, 0, 0, 0.25)
		color white
		display block
		margin 1rem auto
		max-width 24rem
		padding 1rem 2rem
		text-align center
		text-transform uppercase
		
		&:hover
			background-color #fff
			color $rojo
			
@media (min-width:460px)
	.btn
		&-programa
			font-size 1.8rem
			padding 0.5rem 8.6rem
			

@media (min-width: $screen-sm)
	.btn
		&-programa
			bottom auto
			box-shadow 0px 5px 5px 0px rgba(0, 0, 0, 0.25)
			font-size 1.3rem
			max-width 30rem
			padding 0.5rem 1rem
			position absolute
			right 0
			top 12.2rem
			
@media (min-width: 800px)
	.btn
		&-inner
			font-size 1.8rem
			// top 16.5rem
// 			top 16%
			
@media (min-width: 980px)
	.btn
		&-programa
			top 13.5rem
			
		&-inner
			font-size 1.8rem
			// top 16.5rem
				
@media (min-width: 1100px)
	.btn
		&-inner
			top 14.5rem