footer
	background-color $gris
	margin-top 1rem
	padding-bottom 1rem
	padding-top @padding-bottom
	

	.col-4
		text-align center

		img
			img-responsive(block)
			margin 1rem auto 3rem
			max-width 20rem
			

		p
			margin 0 auto
			

@media (min-width:$screen-sm)
	footer
		padding-top 3rem
		.col-4
			text-align left
		