include ../../templates/partials/mixins.pug

header-public
section.container-fluid.container-content
	div.row.bg-white
		//Texto
		article.col-8
			
			h1.title-section.title-bio Biografía
			div(*ngIf="biografia",[innerHTML]="biografia.contenido")


		///-Texto
		

		//Foto
		article.col-4.offset-1
			+image('noticias/foto-bio.jpg', 'Germán Vargas Lleras')(class='img-article img-bio')

		///-Foto

footer-public