//- include ../../includes/mixins

header-admin

section.container-fluid.container-dashboard
	div.row
		button.btn.btn-section.btn-full((click)="goToRegistro()") Registros
		button.btn.btn-section.btn-full((click)="goToPropuesta()") Descarga de Propuestas
		button.btn.btn-section.btn-full((click)="goToContacto()") Contactos
