.icon	
	&-back
		fa(long-arrow-left)
		
	&-fb
		fa(facebook)

	&-ins
		fa(instagram)
	&-tw
		fa(twitter)
		
	&-yt
		fa(youtube)




.social-list
	list-style-type none
	margin 1rem auto
	padding 0
	text-align center
	
	li
		display inline-block
		margin 0 0.5rem 
		vertical-align middle
		
		a
			border 1px solid $azul
			circ(4rem)
			color $azul
			display block
			font-size 2rem
			padding 0.5rem
			
			&:hover
				background-color $azul
				color white
			
	// .icon