section.container-fluid.container-dashboard
	div.row
			
		button.btn.btn-section.btn-full((click)="goToClients()") Propuestas
		button.btn.btn-section.btn-full((click)="goToReports()") Reportes
		button.btn.btn-section.btn-full((click)="signOut()") Cerrar Sesión