div.form-group Nombre
	input(type="text", value="{{propuest.nombre}}",[(ngModel)]="propuest.nombre")

div.form-group Url
	input(type="text", value="{{propuest.url}}",[(ngModel)]="propuest.url")

div.form-group Video ID
	input(type="text", value="{{propuest.videoId}}",[(ngModel)]="propuest.videoId")

div.form-group Descripción Video
	input(type="text", value="{{propuest.descVideo}}",[(ngModel)]="propuest.descVideo")

div.form-group PDF
	input(type="hidden", value="{{propuest.pdf}}",[(ngModel)]="propuest.pdf", (change)="fileChange2($event)", accept=".pdf")
	input(type="file", placeholder="PDF", (change)="fileChange2($event)", accept=".pdf")

div.form-group Imagen Banner
	input(type="hidden", value="{{propuest.imgBanner}}",[(ngModel)]="propuest.imgBanner", (change)="fileChange($event)", accept=".png,.jpg,.jpeg")
	input(type="file", placeholder="Imagen Banner", (change)="fileChange($event)", accept=".png,.jpg,.jpeg")

figure.client(*ngIf="propuest.imgBanner != undefined")
	img(src="assets/images/{{propuest.imgBanner}}", class="imagn")
	
div.color    Propuesta Txt
	textarea(value="{{propuest.propuestaTxt}}",[(ngModel)]="propuest.propuestaTxt")

div.clearfix

//button.btn.btn-submit.btn-full(type="button", (click)="setClient()") Crear Propuesta
button.btn.btn-submit.btn-full(type="button",*ngIf="idClient == null || idClient == ''", (click)="setClient()") Crear Propuesta
button.btn.btn-submit.btn-full(type="button",*ngIf="idClient != null && idClient != ''", (click)="setClient()") Editar Propuesta

alert-toast