//- include ../../includes/mixins


section.container-fluid.container-dashboard
	div.row
			
		button.btn.btn-section.btn-full((click)="goToCorreos()") Correos
		button.btn.btn-section.btn-full((click)="signOut()") Cerrar Sesión
