header-public
section.container-fluid.container-content
	div.row
		h1.title-section.title-contacto Contáctenos

		div.col-6.col-center
			//Contactenos
			form#contact(#contacto="ngForm", novalidate)
				//Nombre
				div.form-group
					label(for="nombre") Nombre
					input(type="text", id="nombre", name="nombre", required, pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ ]+", [(ngModel)]="contactoForm.nombre", #nombre="ngModel", (focus)="focusIn($event)", (focusout)="focusOut($event)")
					div.msn-place(*ngIf='nombre.errors && (nombre.dirty || nombre.touched || formSubmitAttempt)')
						div([hidden]="!nombre.hasError('required')") El nombre es requerido
						div([hidden]="!nombre.hasError('pattern')") El nombre no es correcto

				///-Nombre

				//Apellidos		
				div.form-group
					label(for="apellidos") Apellidos
					input(type="text", id="apellidos", name="apellidos", required, pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ ]+", [(ngModel)]="contactoForm.apellido", #apellido="ngModel", (focus)="focusIn($event)", (focusout)="focusOut($event)")
					div.msn-place(*ngIf='apellido.errors && (apellido.dirty || apellido.touched || formSubmitAttempt)')
						div([hidden]="!apellido.hasError('required')") Los apellidos son requeridos
						div([hidden]="!apellido.hasError('pattern')") Los apellidos son requeridos

				///-Apellidos

				//email
				div.form-group
					label(for="email") Email
					input(type="email", id="email", name="email", required, pattern="[a-zA-Z0-9_-]+([.][a-zA-Z0-9_-]+)*@[a-zA-Z0-9_-]+([.][a-zA-Z0-9_-]+)*[.][a-zA-Z]{1,5}", [(ngModel)]="contactoForm.correo",#correo="ngModel", (focus)="focusIn($event)", (focusout)="focusOut($event)")
					div.msn-place(*ngIf='correo.errors && (correo.dirty || correo.touched || formSubmitAttempt)')
						div([hidden]="!correo.hasError('required')") El email es requerido
						div([hidden]="!correo.hasError('pattern')") El email no es correcto
				
				///-email

				//Teléfono		
				div.form-group
					label(for="tel") Teléfono
					input(type="number", min="0", id="tel", name="tel", required, [(ngModel)]="contactoForm.telefono",#telefono="ngModel",pattern="\\d{7,10}", (focus)="focusIn($event)", (focusout)="focusOut($event)")
					div.msn-place(*ngIf='telefono.errors && (telefono.dirty || telefono.touched || formSubmitAttempt)')
						div([hidden]="!telefono.hasError('required')") El teléfono es requerido
						div([hidden]="!telefono.hasError('pattern')") El teléfono no es correcto

				///-Teléfono

				//Departamento
				div.form-group.form-dep
					label(for="departamento") Departamento
					div.select
						select(id="departamento", name="departamento", required, [(ngModel)]="contactoForm.departamento", #departamento="ngModel", (change)="getCiudades($event)", (focus)="focusIn($event)", (focusout)="focusOut($event)")
							option(*ngFor="let departamento of departamentos; let departamentoKey = index",[value]="departamento.id") {{departamento.nombre}}
					div.msn-place(*ngIf='departamento.errors && (departamento.dirty || departamento.touched || formSubmitAttempt)')
						div([hidden]="!departamento.hasError('required')") El departamento es requerido

				///-Departamento

				//Municipios
				div.form-group
					label(for="municipio") Municipio
					div.select
						select(id="municipio", name="municipio", required, [(ngModel)]="contactoForm.idCiudad", #ciudad="ngModel", (focus)="focusIn($event)", (focusout)="focusOut($event)")
							option(*ngFor="let ciudad of ciudades; let ciudadKey = index",[value]="ciudad.id") {{ciudad.nombre}}
					div.msn-place(*ngIf='ciudad.errors && (ciudad.dirty || ciudad.touched || formSubmitAttempt)')
						div([hidden]="!ciudad.hasError('required')") El municipio es requerido

				///-Municipios

				

				//Comentario
				div.form-group
					label(for="comentario") Comentario
					div.textarea
						textarea(id="comentario", name="comentario", required, pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ ]+", [(ngModel)]="contactoForm.comentario", #comentario="ngModel", (focus)="focusIn($event)", (focusout)="focusOut($event)")
						
							//- option(*ngFor="let citie of cities; let citieKey = index",[value]="citie.idCity") {{citie.name}}
					div.msn-place(*ngIf='comentario.errors && (comentario.dirty || comentario.touched || formSubmitAttempt)')
						div([hidden]="!comentario.hasError('required')") Escribe algo

				///-Comentario
				
				div.clearfix
					
				//Acepto terminos
				div.form-group.form-checkbox
					div.checkbox
						input(type="checkbox", name="politicasA", id="politicasA", required, [(ngModel)]="contactoForm.politicas",#politicas="ngModel")
						label(for="politicasA")
							| Acepto  
							a([routerLink]="['/terminos']", target="_blank") Términos y Condiciones.

						div.msn-place(*ngIf='politicas.errors && (politicas.dirty || politicas.touched || formSubmitAttempt)')
							div([hidden]="!politicas.hasError('required')") Los términos y condiciones son requeridos


				///-Acepto terminos

				//Submit
				button.btn.btn-submit((click)="save(contacto)") Enviar
				///-Submit

				h4.text-center(*ngIf="msg") Gracias por suscribirse.
			///-Contactenos

footer-public