//toast
div.container-toast(class="active", *ngIf="activeT")
	div.toast-main
		span.text-toast {{txt1}}

		
		//Btn de accion
		a.btn.btn-toast((click)="closeToast()") {{txt2}}
		///-Btn de accion		

///-toast