include ../../templates/partials/mixins.pug

header-public


section.container-fluid.container-content
	div.row
		h2.title-section.text-center seleccione una propuesta
		

section.container-fluid(*ngIf="propuesta == null")

	div.row
		ng-container(*ngFor="let propuesta of propuestas; let keyValue = index;")
			//propuesta
			article.col-box([class.box-1]="keyValue == 0" )

				div.box
					div.box-header
						h2.box-title {{propuesta.nombre}}
						a.btn.btn-read( (click)="ruta(propuesta.url)") Leer
						//Imagen propuesta
						+image('{{propuesta.imgFondo}}', '{{propuesta.nombre}}')
						///-Imagen propuesta

					div.box-content
						p.box-text {{propuesta.descVideo}}
			///-propuesta

			div.clearfix(*ngIf='keyValue % 3 == 0 && keyValue > 0')


//Vista individual de propuesta
ng-template(*ngIf="propuesta == null")
	section.container-fluid
		div.row
			div.form-group.form-select-props
				label(for="propuestas") Mejor:
				div.select
					select([ngModel]="propuestaSelUrl", (change)="selPropuesta($event)")
						option(*ngFor="let prop of propuestas; let keyPropuesta = index", [value]="prop.url") {{prop.nombre}}

	section.container-fluid(*ngIf="propuesta != undefined")
		div.row.row-propuesta
			//- | {{propuesta}}
			article.col-6
				//Video propuesta
				div.embed-responsive.embed-responsive-16by9
					iframe#videoPropuesta.embed-responsive-item([src]="urlVideo(propuesta.videoId)", allowfullscreen)
				///-Video propuesta
				

			article.col-6

				//Contenido Propuesta
				div.container-text([innerHTML]="propuesta.propuestaTxt")
				///-Contenido Propuesta



				div.msn-place(*ngIf="errorEmail") Por favor ingrese correo para descargar PDF

		
			div.clearfix

		div.row
			article.col-6
				//Texto video
				div.text-desc-video
					h3([innerHTML]="propuesta.descVideo")
				///-Texto video
				
			article.col-6
				//correo para descargar
				div.form-group.form-email-prop
					label(for="email").
						Ingrese se correo para descarga el PDF:
					
					input(type="email", name="email", id="email", [(ngModel)]="email", (ngModelChange)="validEmail()", placeholder="ejemplo@email.com", required, pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$")
				///-correo para descargar
		

			div.banner-pdf((click) = "verPdf(propuesta.pdf)")
				+image('{{propuesta.imgBanner}}', '{{propuesta.nombre}}')



///-Vista individual de propuesta

footer-public
