include ../../templates/partials/mixins.pug

header-public

section.container-fluid.container-content(*ngIf="noticia == null")
	div.row
		h2.title-section.text-center  Noticias

		//- ng-template(*ngFor="let noticia of noticias; let keyValue = index")
		ng-container(*ngFor="let noticia of noticias; let keyValue = index")
			//propuesta
			article.col-box
			
				div.box
					div.box-header
						a.btn.btn-read((click)="ruta(noticia.url)") Leer
						//Imagen noticia
						+image('{{"noticias/"+noticia.imgThumb}}', '{{noticia.titulo}}')
						///-Imagen noticia
					
					div.box-content
						p {{noticia.titulo}}
						p Fecha: {{noticia.fecha}}

			///-propuesta

			div.clearfix(*ngIf='keyValue % 2 == 0 && keyValue > 0')


//Vista individual de Noticia
//ng-template(#noticia_single="")
section.container-fluid.container-content(*ngIf="noticia != null")
	div.row
		div.col-full
			//Titulo
			h1.title-section.text-center  {{noticia.titulo}}
			///-Titulo

			a.btn.btn-back([routerLink]="['/noticias']")
				i.icon.icon-back
				|  Volver a las noticias
			
			//Imagen
			+image('{{"noticias/"+noticia.imgBig}}', '{{noticia.titulo}}')
			//img([src]="'assets/images/noticias/'+noticia.imgBig", title="{{noticia.titulo}}", alt="{{noticia.titulo}}")
			///-Imagen

			div.container-text-noticia([innerHTML]="noticia.contenido")



//Vista individual de Noticia

footer-public
