include ../../templates/partials/mixins.pug

header-public
section.container-fluid.container-content
	div.row
		//Texto
		article.col-8
			
			h1.title-section Verga no hay naa
		///-Texto
		

		//Foto
		article.col-4.offset-1
			+image('noticias/foto-bio.jpg', 'Germán Vargas Lleras')(class='img-article img-bio')

		///-Foto

footer-public