include ../../templates/partials/mixins.pug

header-public
section.container-fluid.container-content
	div.row
		//Texto
		article.col-6.col-center.col-404

			h2.text-center ¡Error!

			h1.text-404 404

			h3.text-center Página no encontrada
			a.btn.btn-red([routerLink]="['/']") Ir a la portada


		///-Texto


footer-public