include ../../templates/partials/mixins.pug

header-public
section.container-fluid.container-content
	div.row.bg-white
		//Texto
		article.col-full
			
			h1.title-section POLÍTICA DE TRATAMIENTO Y PROTECCIÓN DE DATOS PERSONALES
			
			div.container-text-noticia

				h4  1. ALCANCE
				p
					| La   Política   de   Tratamiento   y   Protección   de   Datos   Personales   presentada   a continuación, se aplicará a todas las Bases de Datos y/o Archivos que contengan datos personales y que sean objeto de tratamiento por el la página web www.mejorvargaslleras.com, considerado como responsable y/o encargado del tratamiento de los datos personales.


				h4 2. DEFINICIONES

				ul
					li
						| Aviso de Privacidad: Comunicación verbal o escrita generada por el Responsable, dirigida al Titular para el tratamiento de sus datos personales, mediante la cual se le informa acerca de la existencia de las Políticas de Tratamiento de información que le serán aplicables, la forma de acceder a las mismas y las finalidades del tratamiento que se pretende dar a los datos personales.
					li
						| Base de Datos: Conjunto organizado de datos personales que sea objeto de tratamiento.
					li
						| Dato Personal: Cualquier información vinculada o que pueda asociarse a una o varias personas naturales determinadas o determinables.
					li
						| Dato Sensible: Información que afectan la intimidad de las personas o cuyo uso indebido puede generar discriminación (Origen racial o étnico, orientación política,
				p
					| convicciones filosóficas o religiosas, pertinencia a sindicatos u organizaciones sociales o derechos humanos, datos de salud, vida sexual y biométricos)
				
				ul
					li
						| Encargado del Tratamiento: Persona natural o jurídica, pública o privada, que por sí misma o en asocio con otros, realice el tratamiento de datos personales por cuenta del Responsable del Tratamiento. En los eventos en que el Responsable no ejerza como Encargado de la base de datos, se identificará expresawww.mejorvargaslleras.comte quién será el Encargado.
					li
						| Responsable del Tratamiento: Persona natural o jurídica, pública o privada, que por sí misma o en asocio con otros, decida sobre la base de datos y/o el tratamiento de los datos.
					li Titular: Persona natural cuyos datos personales sean objeto de tratamiento.
					li
						| Tratamiento:   Cualquier   operación   o   conjunto   de   operaciones   sobre   datos personales, tales como la recolección, almacenamiento, uso, circulación o supresión.
					li
						| Transferencia: La transferencia de datos tiene lugar cuando el Responsable y/o Encargado del Tratamiento de datos personales, ubicado en Colombia, envía la información o los datos personales a un receptor, que a su vez es Responsable del Tratamiento y se encuentra dentro o fuera del país.
					li
						| Transmisión: Tratamiento de datos personales que implica la comunicación de los mismos dentro o fuera del territorio de la República de Colombia cuando tenga por objeto la realización de un tratamiento por el Encargado por cuenta del Responsable.
				
				h4 3. TRATAMIENTO Y FINALIDADES

				p
					| El tratamiento que realizará la página web www.mejorvargaslleras.com será el de recolectar, almacenar, procesar, usar y transmitir o transferir (según corresponda) los datos personales, atendiendo de forma estricta los deberes de seguridad y confidencialidad ordenados por la Ley 1581 de 2012 y el Decreto 1377 de 2013, con las siguientes finalidades:

				ol
					li
						| Registrar la información de datos personales en las bases de datos de la página web, con la finalidad de analizar, evaluar y generar datos estadísticos así como indicadores sectoriales para la formulación de políticas en el sector educativo.
					li
						| Facilitar la implewww.mejorvargaslleras.comtación de programas en cumplimiento de mandatos legales.
				
				h4 4. DERECHOS DEL TITULAR DE LOS DATOS PERSONALES

				p Como titular de datos personales, se tiene derecho a:

				ol
					li
						| Acceder en forma gratuita a los datos proporcionados a la página 
						a(href='http://www.mejorvargaslleras.com') www.mejorvargaslleras.com
						|  que hayan sido objeto de tratamiento.
					li
						| Conocer, actualizar y rectificar su información frente a datos parciales, inexactos, incompletos, fraccionados, que induzcan a error, o a aquellos cuyo tratamiento esté prohibido.
					li
						| Presentar   queja   ante   la   Superintendencia   de   Industria   y   Comercio   por infracciones a lo dispuesto en la Ley 1581 de 2012 y las demás normas que la modifiquen, adicionen o complewww.mejorvargaslleras.comten, una vez haya agotado el trámite de reclamo ante el responsable o encargado del tratamiento de datos personales.
					li
						| Solicitar la supresión del dato cuando en el tratamiento no se respeten los principios, derechos y garantías constitucionales y legales, el cual proceder cuando la autoridad haya determinado que www.mejorvargaslleras.com en el tratamiento ha incurrido en conductas contrarias a la Constitución y la normatividad vigente.
					li
						| Conocer la política de tratamiento de datos de la entidad y a través de ella, el uso o finalidad que se le dará a sus datos personales.
				p
					| f.Identificar al responsable en la página web www.mejorvargaslleras.com que dará trámite y respuesta a sus solicitudes.
				p g.Los demás señalados por el artículo 8 de la Ley 1581 de 2012.

				h4 5. ÁREA RESPONSABLE DE LA ATENCIÓN DE PETICIONES, CONSULTAS Y RECLAMOS SOBRE DATOS PERSONALES

				p
					| La página web www.mejorvargaslleras.com tiene a su cargo la labor de desarrollo, implentación, capacitación y seguimiento de esta Política.
				p
					| La Unidad de Atención al Ciudadano es la dependencia que ha sido designada por el Www.mejorvargaslleras.com como la responsable de la atención de peticiones, consultas, quejas y reclamos ante la cual el Titular de los datos personales podrá ejercer sus derechos a conocer, actualizar y rectificar el dato.
				p
					| Para el efecto, todos los servidores y contratistas que realizan el Tratamiento de Datos Personales en las diferentes dependencias, están obligados a dar traslado a la Unidad de Atención al Ciudadano, de todas las respuestas de las peticiones, quejas o reclamos que se reciban por parte de los Titulares de Datos Personales en los tiempos establecidos por la ley.

				h4 6. VIGENCIA
				p
					| Esta Política de Tratamiento y Protección de Datos Personales ha entrado en vigencia desde el treinta (30) de junio de dos mil catorce (2014).


		///-Texto

footer-public