include ../../templates/partials/mixins.pug

header-public
section.container-fluid.container-content
	div.row.bg-white
		//Texto
		article.col-full
			
			h1.title-section Términos y Condiciones
			
			div.container-text-noticia
				
				-for(x = 0; x < 5; x++)
					p.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam molestiae tempore saepe aut laboriosam explicabo odit est necessitatibus magni, consequatur quibusdam nulla praesentium non sint adipisci voluptas omnis maxime, assumenda.

		///-Texto

footer-public